.recipe_list{
    border: 0.5px solid;
    border-radius: 20px;
    border-color: gray;
}
.recipe_list .title{
    position: relative;
    top: -30px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Verdana";
}

.recipe_list .title img{
    width: 38px;
    height: 38px;
    vertical-align: baseline;
}
